<html>
<head><title>Meili - Debug GUI</title></head>
<body>

<h2>Add Arrival</h2>
<div>
    <form method="POST" action="/add_arrival">
        <label for="co">Company</label>
        <select name="company" id="co">
            {% for co in companies %}
            <option value="{{ co.id }}">{{ co.value }}</option>
            {% endfor %}
        </select><br />

        <label for="ci">City</label>
        <select name="city" id="ci">
            {% for ci in cities %}
            <option value="{{ ci.id }}">{{ ci.value }}</option>
            {% endfor %}
        </select><br />

        <label for="st">Status</label>
        <select name="status" id="st">
            {% for s in statuses %}
            <option value="{{ s.id }}">{{ s.value.title() }}</option>
            {% endfor %}
        </select><br />

        <label for="ti">Time</label>
        <input type="text" name="time" id="ti" /><br />
        <label for="tinow">"Now"</label>
        <input type="checkbox" name="time_now" id="tinow" />

        <br /><br />

        <input type="submit" value="Add Arrival" />
    </form>
</div>

<h2>Add Departure</h2>
<div>
    <form method="POST" action="/add_departure">
        <label for="co">Company</label>
        <select name="company" id="co">
            {% for co in companies %}
            <option value="{{ co.id }}">{{ co.value }}</option>
            {% endfor %}
        </select><br />

        <label for="ci">City</label>
        <select name="city" id="ci">
            {% for ci in cities %}
            <option value="{{ ci.id }}">{{ ci.value }}</option>
            {% endfor %}
        </select><br />

        <label for="st">Status</label>
        <select name="status" id="st">
            {% for s in statuses %}
            <option value="{{ s.id }}">{{ s.value.title() }}</option>
            {% endfor %}
        </select><br />

        <label for="gt">Gate</label>
        <select name="gate" id="gt">
            {% for g in gates %}
            <option value="{{ g.id }}">{{ g.value }}</option>
            {% endfor %}
        </select><br />

        <label for="bn">Bus Number</label>
        <input type="text" name="busnum" id="bn" /><br />

        <label for="ti">Time</label>
        <input type="text" name="time" id="ti" /><br />
        <label for="tinow">"Now"</label>
        <input type="checkbox" name="time_now" id="tinow" />

        <br /><br />

        <input type="submit" value="Add Deprature" />
    </form>
</div>

<h2>Arrivals</h2>
<div>
    {% if arrivals %}
    <ul>{% for bus in arrivals %}
        <li>{{ bus }}</li>
    {% endfor %}</ul>
    {% else %}<p>No Arrivals. :C</p>{% endif %}
</div>

<h2>Departures</h2>
<div>
    {% if departures %}
    <ul>{% for bus in departures %}
        <li>{{ bus }}</li>
    {% endfor %}</ul>
    {% else %}<p>No Departures. :C</p>{% endif %}
</div>
</body>
